* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 92, 1) 0%,
    rgba(154, 75, 143, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  height: 13vh;
  align-items: center;
  padding: 15px;
}
.logo img {
  height: 11vh;
  object-fit: contain;
}
ul {
  display: flex;
  position: relative;
}
li {
  list-style-type: none;
  width: 120px;
  text-align: center;
}
/* ul li.active {
  background: #fff;
} */
ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: #fff;
}
ul li.active a {
  color: black;
}
.slide {
  position: absolute;
  width: 120px;
  height: 26px;
  top: 0;
  left: 0;
  border: 1px solid black;
  background: #fff;
  transition: 0.5s;
  opacity: 0;
}
ul li:nth-child(1).active ~ .slide {
  left: 0;
  opacity: 1;
}
ul li:nth-child(2).active ~ .slide {
  left: 120px;
  opacity: 1;
}
ul li:nth-child(3).active ~ .slide {
  left: 240px;
  opacity: 1;
}
ul li:nth-child(4).active ~ .slide {
  left: 360px;
  opacity: 1;
}

.banner {
  width: 100vw;
  height: 90vh;
  background: url("https://img.freepik.com/free-vector/downhill-bike-character-illustration_604090-27.jpg");
  background-repeat: no-repeat;
  background-position: left;
  object-fit: contain;
  position: relative;
}
.banner::before {
  content: " ";
  position: absolute;
  width: inherit;
  height: inherit;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.9;
}
.banner__contents {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 30%;
}
.svg_bike {
  position: absolute;
  top: 15%;
  right: -10%;
}
.svg_bike svg {
  height: 50vh;
}
#front__wheel {
  animation: front 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes front {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#back__wheel {
  animation: front 2s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.banner__contents p {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-align: justify;
}
.banner__contents > button {
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,92,1) 0%, rgba(154,75,143,1) 0%, rgba(0,212,255,1) 100%); */
  padding: 10px;
  border: none;
  outline: none;
  width: 35%;
  border-radius: 7px;
  margin-top: 20px;
  margin-right: 10px;
  color: #000;
  position: relative;
  z-index: 1;
}

.banner__contents > button:hover {
  color: #fff;
  transition-delay: 0.1s;
}
.banner__contents > button::before {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 92, 1) 0%,
    rgba(154, 75, 143, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}
.banner__contents > button:hover::before {
  transform: scaleX(1);
}
